:root {
    --background: #008080;
    --background-gray: #D9D9D9;
    --border-gray: #C0C0C0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'EpilepsySans';
    src: url('src/shared/assets/fonts/EpilepsySans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--background);
    font-family: 'EpilepsySans', sans-serif;
    font-size: 16px;
}