#root {
  margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'EpilepsySans';
    src: url('fonts/EpilepsySans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #008080;
    font-family: 'EpilepsySans', sans-serif;
    font-size: 16px;
    color: #fff;
}

img {
    
}

.mainBlock {
    display: flex;
}

.nav {
    height: 100vh;
    width: 350px;
    background-color: #C0C0C0;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.contactsNav {
    height: calc(100vh - 86px);
    width: 100%;
    background-color: #fff;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 10px solid #C0C0C0;
    border-left: 10px solid #C0C0C0;
    border-right: 10px solid #C0C0C0;
    
}

.contact{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    cursor: var(--custom-cursor, pointer);

    align-items: center;
    height: 73px;
    width: 100%;
    background-color: #D9D9D9;
    color: #000;
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-right-color: #424242;
    border-bottom-color: #424242;
}

.contactActive{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    cursor: var(--custom-cursor, pointer);

    height: 73px;
    width: 100%;
    background-color: #000080;
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-right-color: #424242;
    border-bottom-color: #424242;
}

.contactImg {
    width: 57px;
    height: 57px;

    border-width: 2px;
    border-style: outset;
    border-color: #fff;
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-right-color: #424242;
    border-bottom-color: #424242;
}

.contactMsg {
    display: flex;
    flex-direction: column;
    height: 52px;
    gap: 4px;
}

.contactInfoText {
    font-size: 22px;
    height: 22px;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contactOnlineStatus {
    font-size: 18px;
    height: 18px;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contactTime{
    display: flex;
    flex-direction: column;
    height: 52px;
    gap: 4px;
    margin-left: auto;
    align-items: flex-end;
}





.titlebar {
    display: flex;
    gap: 5px;
    height: 28px;
    width: 100%;    
    color: #fff;
    background-color: #000080;
    padding: 2px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.title {
    display: flex;
    flex-direction: column;
    height: 86px;
    width: 100%;
    justify-content: space-between; 
    border: 10px solid #C0C0C0;
}

.monitorIcon {
    height: 100%;
}

.text {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.buttons {
    margin-left: auto; 
    height: 100%;
}

.searchBar {
    padding: 2px;
    height: 30px;
    width: 100%;
    background-color: #ffff;
    border: 1px solid #000;
    color: #000000;
    font-size: 20px;
}

.searchInput {
    line-height: 100%;
    background: none;
    border: none;
    color: #000;
    font-family: 'EpilepsySans', sans-serif;    
    font-size: 20px;
    font-style: normal;
    height: 100%;
    width: 100%;
    outline: none;
}




.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100% - 350px);
}

.contactInfo {
    box-sizing: border-box;
    background-color: #fff;
    height: 86px;
    border-bottom: 10px solid #C0C0C0;
    border-top: 10px solid #C0C0C0;
    border-right: 10px solid #C0C0C0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 4px;
    
}

.userImg {
    background-color: #C0C0C0;
    width: 52px;
    height: 52px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    color: #000;
    height: 52px;
    gap: 4px;
    padding: 2px;
}

.userInfoText {
    font-size: 22px;
    height: 22px;
}

.userOnlineStatus {
    font-size: 18px;
    height: 18px;
}


.chatWindow {
    width: 100%;
    height: calc(100vh - 170px - 86px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 10px solid #C0C0C0;
    overflow: scroll;
    scrollbar-width: none;
}

.message {
    background-color: #fff;
    color: #000;
    width: 100%;
    max-height: max-content; 
    border-width: 2px;
    border-style: outset;
    border-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-right-color: #424242;
    border-bottom-color: #424242;
}

.messageFromYou {
    background-color: #000080;
    color: #fff;
    width: 100%;
    max-height: max-content; 
    border-width: 2px;
    border-style: outset;
    border-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-right-color: #424242;
    border-bottom-color: #424242;
}

.messageUp {
    width: 100%;
    height: 50px;
    border: 5px solid #C0C0C0;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.messageUserName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.messageDown {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 35px;
    max-height: max-content;

    border-right: 5px solid #C0C0C0;
    border-bottom: 5px solid #C0C0C0;
    border-left: 5px solid #C0C0C0;

    padding-left: 5px;
    padding-right: 5px;
    font-size: 22px;
    word-break: break-word;
    white-space: pre-wrap;
}





.messageSend {
    font-size: 24px;
    display: flex;
    gap: 10px;
    height: 170px;
    width: 100%;
    background-color: #C0C0C0;
    border-right: 10px solid #C0C0C0;
    border-bottom: 10px solid #C0C0C0;
    border-top: 10px solid #C0C0C0;
}

.messageInput {
    padding: 5px;
    resize: none;
    background: none;
    border: none;
    color: #000;
    font-family: 'EpilepsySans', sans-serif;    
    font-size: 100%;
    font-style: normal;
    height: 100%;
    width: 100%;
    outline: none;
    scrollbar-width: none;
    
}

.messageWrite {
    background-color: #fff;
    height: 150px;
    width: calc(100% - 150px);
        border: 1px solid #000;

}

.sendButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    height: 150px;
    width: 150px;
    color: #000;

    border-width: 2px;
    border-style: outset;
    border-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-right-color: #424242;
    border-bottom-color: #424242;
    cursor: var(--custom-cursor, pointer);
}

.sendWord {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.debugButtons {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 100px;
    height: fit-content;
    background: #000080;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.debugButton {
    color:#000;
    width: 100px;
    height: fit-content;
    background: #D9D9D9;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10;
    align-items: center;

    border-width: 2px;
    border-style: outset;
    border-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-right-color: #424242;
    border-bottom-color: #424242;
}


